<ion-view title="About" id="page12" class="" ng-controller="aboutCtrl">
    <ion-content padding="true" class="has-header">
        <div id="about-button-bar10" class=" button-bar "></div>

        <div class="card wrapper-remove-background">
		  <div class="item item-text-wrap remove-background">
		     IoT Ignite is a Platform as a Service (PaaS) distinctively made for future of Internet of Things  (IoT) . The IoT Ignite is built using modern best practices and architecture. Your engineers will thank you for choosing well documented, simple UX and UI that seamlessly integrate your connected devices into your favorite tooling and platforms.
		  </div>
		</div>

    </ion-content>
</ion-view>
