<ion-view title="Home" hide-nav-bar="true" id="page1" class="" ng-controller="homeCtrl">
    <ion-content padding="true" class="display-table">

		<!-- display-table-row -->
		<div class="display-table-row">
			<div class="display-table-cell wrapper-logo">
				<a href="#/home">
					<img src="img/devzone-logo.png" height="auto" class="devzone-logo">
				</a>
			</div>
		</div>
		<!-- end display-table-row -->

		<!-- display-table-row -->
		<div class="display-table-row">
			<div class="display-table-cell bottom-wrapper">
		        <a ui-sref="signUp" id="home-button4" class=" button button-positive  button-block ">CREATE ACCOUNT</a>
		        <a ui-sref="signIn" id="home-button5" class=" button button-positive  button-block " style="margin-bottom: 0;">SIGN IN</a>
			</div>
		</div>
		<!-- end display-table-row -->

    </ion-content>
</ion-view>
