<ion-view title="Registration Status" id="page10" class=" " ng-controller="registrationStatusCtrl">
    <ion-content padding="true" class="has-header">
        <div id="registrationStatus-button-bar8" class=" button-bar "></div>
        <div class="spacer" style="width: 300px; height: 39px;"></div>
        
        <p id="registrationStatus-markdown2" class="title-success text-center">Your gateway is added successfully</p>
        
        <div class="wrapper-success">
            <a ui-sref="menu.gateways">
                <img src="img/icon-success.png">
            </a>
        </div>
    </ion-content>
</ion-view>