<ion-view title="Things" id="page13" class=" " ng-controller="ssidCtrl">
    <ion-content padding="true" class="has-header">
        <ion-list id="things-list12" class=" ">
            <ion-item class="item-icon-right balanced  " id="things-list-item40" ui-sref="menu.gatewayDetail">Node 1
                <i class="icon ion-power"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="things-list-item38" ui-sref="menu.gatewayDetail">Node 2
                <i class="icon ion-power"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="things-list-item41" ui-sref="menu.gatewayDetail">Node 3
                <i class="icon ion-power"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="things-list-item44" ui-sref="menu.gatewayDetail">Node 3
                <i class="icon ion-power"></i>
            </ion-item>
        </ion-list>
        <div id="things-button-bar11" class=" button-bar "></div>
        <div class="spacer" style="width: 300px; height: 39px;"></div>
        <a ui-sref="menu.addThing" id="things-button25" class=" button button-positive  button-block ">DELETE</a>
    </ion-content>
</ion-view>